.my-uikit {
   background-color: #F4F6F5;
   border: none;
   max-width: 1400px;
   margin: 0 avto;
   padding: 20px;
   display: flex;
   gap: 25px;
   min-height: 100vh;
}  
.box {
   display: flex;
   flex-direction: column;
}
.репродукция {
   border: 1px dashed #7B61FF;
   padding: 20px 30px 23px 20px;
   border-radius: 5px;
   margin-bottom: 21px;
}
.черный {
   color: #2C2D35;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   margin-bottom: 33px;
}
.зеленый {
    color: #598D66;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   margin-bottom: 33px;
}
.подложка {
    color: #2C2D35;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   margin-bottom: 33px;
}
.зеленый1 {
    color: #376B44;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
}
.корзины {
   display: flex;
   flex-direction: column;
   border: 1px dashed #7B61FF;
   padding: 20px 27px 20px 29px;
   width: 30px;
   gap: 33px;
   border-radius: 5px; 
}
.продукция {
   border: 1px dashed #7B61FF;
   padding: 20px 17px 18px 20px;
   flex-direction: column;
   height: 340px;
   border-radius: 5px;
}
.светлая {
   color: #598D66;
   border: 1px solid #598D66;
   padding: 20px 60px;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   margin-bottom: 20px;
}
.зеленая {
   background-color: #598D66;
   color: #F4F6F5;
   border: none;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   padding: 20px 60px;
   margin-bottom: 20px;
}
.светло-зелен {
   color: #598D66;
   background-color: #D4E8D9;
   border: 1px solid #598D66;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   padding: 20px 60px;
   margin-bottom: 20px;
}
.темн-зелен {
   background-color: #376B44;
   color: #FFFFFF;
   border: none;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   padding: 20px 60px;
}
.фейсбук {
   display: flex;
   flex-direction: column;
   border: 1px dashed #7B61FF;
   padding: 20px 20px;
   width: 64pxpx;
   gap: 29px; 
   height: 200px;
   border-radius: 5px;
}
.btn {
   border: 1px dashed #7B61FF;
   padding: 20px 20px;
   height: 240px;
   border-radius: 5px;
   padding: 20px 20px;
}
.франция1 {
   background-color: #D4E8D9;
   color: #2C2D35;
   border-radius: 20px;
   border: none;
   padding: 10px 20px;
   margin-bottom: 32px;
}
.франция2 {
   background-color: #598D66;
   color: #F4F6F5;
   border-radius: 20px;
   border: none;
   padding: 10px 20px;
   margin-bottom: 32px;
}
.франция3 {
   background-color: #D4E8D9;
   color: #2C2D35;
   border-radius: 20px;
   border: none;
   padding: 10px 20px;
   margin-bottom: 32px;
}
.франция4 {
   background-color: #376B44;
   color: #F4F6F5;
   border-radius: 20px;
   border: none;
   padding: 10px 20px;
}
.btn1 {

}
.продукция1 {
   border: 1px dashed #7B61FF;
   padding: 20px 17px 18px 20px;
   flex-direction: column;
   height: 340px;
   border-radius: 5px;
}
.желтая {
   color: #2C2D35;
   background-color: #EEDB6D;
   padding: 20px 60px;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   margin-bottom: 20px;
   border: none;
}
.светло-желтая{
   color: #2C2D35;
   padding: 20px 60px;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   margin-bottom: 20px;
   background-color: #FAEB97;
   border: none;
}
.рамка {
   color: #2C2D35;
   border: 1px solid #A38314;
   padding: 20px 60px;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   margin-bottom: 20px;
   background-color: #FAEB97;
}
.темн-желтая {
   color: #2C2D35;
   padding: 20px 60px;
   border: none;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   margin-bottom: 20px;
   background-color: #D9B949;
}
.картины {
   border: 1px dashed #7B61FF;
   width: 390px;
   height: 1290px;
   border-radius: 5px;
   padding: 20px 20px;
}
.Доктор {
   background-color: #E1EDE6;
   padding: 20px 20px;
   margin-bottom: 28px;
}
.autor {
   color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 100%;
   margin-bottom: 10px;
}
.procedure {
   color: #2C2D35;
   font-weight: 500;
   font-size: 30px;
   line-height: 100%;
   margin-bottom: 8px;
}
.lithography {
   color: #2C2D35;
   font-weight: 500;
   font-size: 18px;
   line-height: 100%;
   margin-bottom: 30px;
}
.price {
   color: #598D66;
   font-weight: 500;
   font-size: 24px;
   line-height: 100%;
   margin-bottom: 20px;
}
.btn2 {
   border: 1px solid #598D66;
   width: 310px;
   height: 65px;
   color: #598D66;
   padding: 21px 106.5px;
}
.Амур {
   background-color: #E1EDE6;
   padding: 20px 20px;
   width: 240px;
   height: 514px;
}
.autor1 {
   color: #86928B;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   margin-bottom: 10px;
   margin-top: 15px;
   margin-bottom: 10px;
}
.image {
   color: #2C2D35;
   font-weight: 500;
   font-size: 24px;
   line-height: 100%;
   margin-bottom: 10px;
}
.canvas {
   color: #2C2D35;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   margin-bottom: 30px;
}
.price1 {
   color: #598D66;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   margin-bottom: 10px;
}
.btn1 {
   border: 1px solid #598D66;
   width: 200px;
   height: 50px;
   color: #598D66;
   padding: 14.5px 56.5px;
}

/* Desktop_1440 */

.Desktop_1440 {
   background-color: Desktop_1440;
   width: 1440px;
   height: 3746px;
   display: flex;
   flex-direction: column;
}

.шапка-сайта {
   background-color: #E1EDE6;
   width: 1440px;
   height: 100px;
   display: flex;
   align-items: center;
}
.box1 {
   display: flex;
   padding-left: 165px;
   flex: 1;
}
.InkHouse {
   color: #598D66;
   font-weight: 700;
   font-size: 20px;
   line-height: 100%;
   padding: 8px 6px;
}
.nav {
   display: flex;
   gap: 60px;
   margin-right: 165px;
}
.nav a {
   text-decoration: none;
   color: #2C2D35;
}
.hero {
   display: flex;
   padding-left: 165px;
   width: 1440px;
   height:  620px;
}
.texts {
   width: 540px;
   height: 331px;
   margin-top: 145px;
}
.Реплики {
   color: #2C2D35;
   font-weight: 500;
   font-size: 60px;
   line-height: 100%;
   margin-bottom: 20px;
}
.качество {
   color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 60px;
}
.btn3 {
   border: 1px solid #598D66;
   width: 225px;
   height: 65px;
   color: #598D66;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   padding: 21px 60px;

}

/* cftalog */

.catalog {
   margin-top:  70px;
   width: 1100px;
   height: 1300px;
   margin: 0 165px;
}
.шапка-сайта1 {
   display: flex;
   gap: 32px;
   margin-bottom: 30px;
   width: 1100px;
   height: 44px;
}
.репродукции {
   color: #2C2D35;
   font-weight: 500;
   font-size: 40px;
   line-height: 100%;
   margin-right: 427px;
}
.btn4 {
   width: 126px;
   height: 43px;
   background-color: #376B44;
   color: #F4F6F5;
   border: none;
   border-radius: 20px;
}
.btn5 {
   width: 126px;
   height: 43px;
   background-color: #D4E8D9;
   color: #2C2D35;
   border: none;
   border-radius: 20px;
}
.btn6 {
   width: 126px;
   height: 43px;
   background-color: #D4E8D9;
   color: #2C2D35;
   border: none;
   border-radius: 20px;  /* вылезла за границу, не смогла исправить */
}

.france {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   margin-bottom: 70px;
}

/* Promo */ 

.promo {
   width: 1440px;
   height: 500px;
   background-color: black; /* Картина скачивается серым фоном, сделала черный фон */
   padding-top: 70px;
   padding-left: 300px;
}
.black-box {
   gap: 20px;
   display: flex;
   align-items: center;
}
.start2 {
   color: #F4F6F5;
   font-weight: 500;
   font-size: 40px;
   line-height: 100%;
   margin-bottom: 20px;
   width: 421px;
   height: 80px;
} .Texts {
   width: 540px;
   height: 209px;
}
.Text {
   color: #FFFFFF;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 60px;
}
.butt {
   background-color: #EEDB6D;
   color: #2C2D35;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   padding: 21px 60px;
   border: none;
}

/* Comanda */

.container {
   display: flex;
   justify-content: flex-start; /* контейнер не поднимается под предыдущий контейнер */
   align-items: center;
   margin-top: 70px;
   flex: 0 0 avto;
   padding-left: 200px;
}
.hand {
   position: absolute; /* Не знаю, как  руку сделать изнутри */
}
.Texts1 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 30px;
   margin-left: 20px;
}
.content1 {
   color: #2C2D35;
   font-weight: 500;
   font-size: 40px;
   line-height: 100%;
}
.text {
   color: #2C2D35;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   width: 635px;
   height: 108px;
}
.avatars {
   display: flex;
   flex-direction: row;
   gap: 30px;
}

/* footer */
.шапка-сайта2 {
   background-color: #E1EDE6;
   width: 1440px;
   height: 100px;
   display: flex;
   align-items: center;
}

.box1 {
   flex-wrap: wrap;
}
.iphon3 {
   flex-direction: column;
   display: flex;
}
.Мастерская {
   color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;

}
.city {
   text-decoration: none;
}
.pепродукции {
   color: #2C2D35;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   margin-bottom: 6px;
}
.Франция {
   color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 6px;
}
.Германия {
   color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 6px;
}
.Англия {
    color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
}
.year3 {


}
.Новинки {
   color: #2C2D35;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   margin-bottom: 6px;
}
.year {
   color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 6px;
}
.Year {
   color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 6px;
}
.manager {
   
}
.info {
   color: #2C2D35;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   margin-bottom: 6px;
}
.artist {
   color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 6px;
}
.manager1 {
    color: #86928B;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
}
.соцсети {
   display: flex;
   
}